[run]
source = py/desisurvey
omit =
   py/desisurvey/_version.py
   py/desisurvey/conftest*
   py/desisurvey/cython_version*
   py/desisurvey/setup_package*
   py/desisurvey/*/setup_package*
   py/desisurvey/*/*/setup_package*
   py/desisurvey/sphinx/*
   py/desisurvey/test/*
   py/desisurvey/*/test/*
   py/desisurvey/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   ### def main\(.*\):
